.Timer {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 50px;
}

.clock-wrapper{
  position: relative;
  width: 250px;
  margin: 0 auto;
}

.time-wrapper {
  position: absolute;
  width: 100%;
  top: 20%;
}

.time-wrapper p {
  font-size: 50px;
}

footer {
  width: 250px;
  margin: 25px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
